{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Himilada Shirkadda</h1>
    <p><strong><i>Himilada Hodman waxa weeye in shirkaddu xal raaga u samayso baahiyaha biyaha bulshada ku nool degmada Qardho iyo nawaaxigeeda.</i></strong></p>
</div>

<div>
    <h1>Himilada Shirkadda</h1>
    <p><strong><i>Shirkadda Hodman waxay hiigsanaysaa in ay macaamiisheeda siiso biyo nadiif ah oo qiime jaban oo waqti kasta la heli karo.</i></strong></p>
</div>

<div>
    <h5>Yoolasha Shirkadda:</h5>
    <p><strong><i>Yoolasha shirkaddu waxaa ka mid ah:</i></strong></p>
    <li>Kordhinta waxsoosaarka biyaha.</li>
    <li>Kordhinta dakhliga.</li>
    <li>Dib u habaynta iyo tayaynta maamulka.</li>
    <li>Kor u qaadista adeegga macaamiisha</li>
    <li>Kordhinta iyo tayaynta qalabka farsamada biyaha.</li>
    <li>Kor u qaadista heerka aqoonta shaqaalaha.</li>
</div>

<div>
    <h5>Mabaadii'da Guud</h5>
    <p>Waxaan shaqooyinka shirkadda u qabaan si waafaqsan mabaadii’da anshaxa suuban sida runta, amaanada, aqoonta iwm.</p>
</div>

{% endblock content %}